@inherits LayoutComponentBase

<div class="page container-fluid bg-dark">
    <div class="main">
        <div class="content px-4">
            <Blazor.WebSocket.Sample.Pages.Index />
        </div>
    </div>
</div>