<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open API.NET Web App Demo</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap-grid.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap-reboot.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap-utilities.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>