@page
@model IndexModel

<div>
    <form asp-page-handler="addAccount" method="get">
    </form>

    <a class="btn btn-primary" asp-page="Index" asp-page-handler="addaccount">Add Trading Account(s)</a>
</div>